<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用bean标签的autowire属性设置自动装配效果，自动装配方式：byName -->
    <!-- byName：将自动装配的属性的属性名，作为bean的id在IOC容器中匹配相对应的bean进行赋值 -->
    <bean id="userController" class="com.zt.spring6.bean.autowire.UserController" autowire="byName"/>
    <bean id="userService" class="com.zt.spring6.bean.autowire.UserServiceImpl" autowire="byName"/>
    <bean id="userDAO" class="com.zt.spring6.bean.autowire.UserDAOImpl"/>

</beans>